body{
font-family:'Times New Roman', Times, serif;
background-color: blueviolet;
box-sizing: 'content-box';
-webkit-box-sizing: content-box;

}

.container{
border:cyan 20px solid;
margin: 0 30%;
padding: 1%;
width: 550px;
border-radius: 1cm;
}


.cart{
max-width: 425px;
background-color:  yellow;
}

input[type=text] {      /* работаем с полем ввода */
width: 500px;
padding: 10px;
}

.mybtn{                 /* работаем со свойствами кнопки */
margin-top: 10px;
width: 500px;
padding: 10px;
cursor: pointer;   
color: red;
}

.ChangeColor{
    -webkit-text-fill-color: red ;
    }

